.navbar-one ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.navbar-two ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.navbar-three {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.navbar-three div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navbar-three ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.navbar-four {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.navbar-four ul {
  display: flex;
  list-style: none;
}

.navbar-four-buttons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navbar-four-content {
  display: flex;
  align-items: center;
  gap: 24px;
}

.navbar-four-logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navbar-five {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-five-logo {
  list-style: none;
  gap: 12px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.navbar-five-nav {
  list-style: none;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.navbar-five-buttons {
  list-style: none;
  align-items: center;
  display: flex;
  gap: 12px;
  justify-content: space-between;
}
